# Byte-compiled / optimized / DLL files
__pycache__/
*.py[cod]
*$py.class

# OS files
.DS_Store
Thumbs.db

# Environment variables
.env

# Database files
*.db
*.sqlite3

# IDEs
.vscode/
.idea/

# Distribution / packaging
dist/
build/
*.egg-info/